{% extends 'base.html' %}

{% block content %}
<header class="masthead d-flex align-items-center" style="min-height: 80vh;">
    <div class="container text-center text-white">
        <h1 class="mb-5 animate__animated animate__fadeInDown display-5 fw-bold">Qidiruv turini tanlang</h1>
        
        <!-- row g-4 orqali tugmalarni boshqaramiz -->
        <div class="row g-4 justify-content-center animate__animated animate__fadeInUp">
            
            <div class="col-12 col-md-5 col-lg-4">
                <a href="{% url 'model_search_page' %}" class="custom-btn w-100 d-block py-3 text-decoration-none">
                    <span class="fs-4">🔍</span> <br class="d-md-none"> Model bo'yicha
                </a>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <a href="{% url 'price_search_page' %}" class="custom-btn w-100 d-block py-3 text-decoration-none">
                    <span class="fs-4">💰</span> <br class="d-md-none"> Budjet bo'yicha
                </a>
            </div>

        </div>
    </div>
</header>
{% endblock %}